
*.xcbkptlist
.DS_Store
InterviewProject/Lib/.DS_Store
Pods/Pods.xcodeproj/xcuserdata/
InterviewProject.xcodeproj/xcuserdata/
InterviewProject.xcworkspace/xcuserdata/*
InterviewProject.xcodeproj/project.xcworkspace/xcuserdata/